<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet SGCR</title>
    <!-- Intégration des fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
 d    <!-- Intégrationes fichiers CSS personnalisés de votre projet -->
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <!-- Contenu de l'en-tête -->
    </header>

    <main>
        <!-- Contenu spécifique sera inséré ici -->
    </main>

    <footer>
        <!-- Contenu du pied de page -->
    </footer>

    <!-- Intégration des fichiers JS de Bootstrap -->
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <!-- Intégration des fichiers JS personnalisés de votre projet -->
    <script src="/public/js/script.js"></script>
</body>
</html>
